= semantic_nested_form_for @workshop, :html => { :multipart => true } do |f|
  -if @workshop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workshop.errors.count, "error")} prohibited this workshop from being saved:"
      %ul
        - @workshop.errors.full_messages.each do |msg|
          %li= msg

  %h3.clear General Information
  %ul.span-22
    %li= f.text_field :name, :placeholder => 'Workshop Title'
    = f.input :manager, :as => :select, :collection => Manager.find(:all, :order => "name ASC"), :label_method => :firstName, :prompt=>"Choose Manager", :label => false, :include_blank => false
    %li= f.file_field :albumcover, :label => false
    %li= f.text_area :description, :placeholder => 'Workshop Description'
  %h3.clear Workshop Dates
  %ul.span-22
    %li= f.text_field :startDate, :placeholder => 'Start Date'
    %li= f.text_field :endDate, :placeholder => 'End Date'
  %ul.span-22
    = f.semantic_fields_for :appointments do |t|
      %li.abe #{t.time_select :apptime, :class => "title", :twelve_hour => true,  :minute_step => 15}
    %li.add_field= f.link_to_add 'Add Times', :appointments

  %div.span-22.clear
    = f.submit 'Save', :class => "button white"
