%p#notice= notice
= image_tag @workshop.albumcover.url(:thumb)
%h3
  = @workshop.name
  %br
  = "#{@workshop.manager.firstName} #{@workshop.manager.lastName}"
%ul.span-22
  %li
    = @workshop.description

%ul.span-22
  -if @workshop.endDate.nil?
    %li= @workshop.startDate.strftime('%a %b %d, %Y')
  -else
    %li= "#{@workshop.startDate.strftime('%b %d')} - #{@workshop.endDate.strftime('%d, %Y')}"

-!if @workshop.employees.nil?
  %ul.span-22
    - @workshop.employees.each do |m|
      %li
        %span.span-17= "#{m.firstName} #{m.lastName}"
        %span= m.email

- semantic_form_for [@workshop, Interest.new] do |f|
  .span-22.clear
    -if manager_signed_in?
      = link_to 'Edit', edit_workshop_path(@workshop), :class => "white button manager"
    -else
      = f.submit "Register", :class => "white button span-23"

= link_to 'Back', workshops_path
