= semantic_form_for @holiday do |f|
  -if @holiday.errors.any?
    #error_explanation
      %h2= "#{pluralize(@holiday.errors.count, "error")} prohibited this holiday from being saved:"
      %ul
        - @holiday.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :firstName
    = f.text_field :firstName
  .field
    = f.label :lastName
    = f.text_field :lastName
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :firstStart
    = f.text_field :firstStart
  .field
    = f.label :firstEnd
    = f.text_field :firstEnd
  .field
    = f.label :secondStart
    = f.text_field :secondStart
  .field
    = f.label :secondEnd
    = f.text_field :secondEnd
  .field
    = f.label :thirdStart
    = f.text_field :thirdStart
  .field
    = f.label :thirdEnd
    = f.text_field :thirdEnd
  .field
    = f.input :manager, :as => :select, :collection => Manager.all
  .actions
    = f.submit 'Save'
