= semantic_form_for @holiday do |f|
  -if @holiday.errors.any?
    #error_explanation
      %h2= "#{pluralize(@holiday.errors.count, "error")} prohibited this holiday from being saved:"
      - @holiday.errors.full_messages.each do |msg|
        %b= msg
  %ul.span-22
    %li
      = f.text_field :firstName, :placeholder => "First Name"
    %li
      = f.text_field :lastName, :placeholder => "Last Name"
    %li
      = f.text_field :email, :placeholder => "Email"
  %h3.clear First Choice
  %ul.span-22
    %li
      = f.text_field :firstStart, :placeholder => "Start Date"
    %li
      = f.text_field :firstEnd, :placeholder => "End Date"
  %h3.clear Second Choice
  %ul.span-22
    %li
      = f.text_field :secondStart, :placeholder => "Start Date"
    %li
      = f.text_field :secondEnd, :placeholder => "End Date"
  %h3.clear Third Choice
  %ul.span-22
    %li
      = f.text_field :thirdStart, :placeholder => "Start Date"
    %li
      = f.text_field :thirdEnd, :placeholder => "End Date"
  %h3.clear Comments
  %ul.span-22
    %li
      = f.text_area :comment, :placeholder => "Comments"
  %h3.clear Mentor & Department
  %ul.span-22
    = f.input :manager, :as => :select, :collection => Manager.find(:all, :order => "name ASC"), :label_method => :firstName, :prompt=>"Choose Manager", :label => false, :include_blank => false
    = f.input :department, :as => :select, :collection => ["Red Zone", "Back of House", "Family Room", "Business Team"],:prompt=>"Department", :label => false
  .span-22.clear
    = f.submit 'Save', :confirm => "Double check your Holiday Request is correct", :class => 'button white span-23'
