%table.span-24
  %tr.span-22
    %th.even Name
    %th.even Email
    %th.even Mentor Manager
    %th.even First Choice


  - @holidays.each do |holiday|
    %tr.span-22
      %td.even #{holiday.firstName} #{holiday.lastName}
      %td.even= holiday.email
      %td.even= holiday.manager.name
      %td.even= holiday.firstStart.strftime('%a %b %d, %Y')
      %td= link_to 'Details', holiday

