= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| 
  = devise_error_messages! 

  %h3.clear Basic Information
  %ul.span-22
    %li= f.email_field :firstName 
    %li= f.email_field :lastName 
    %li= f.email_field :email 
    %li= f.email_field :homeEmail, :placeholder => 'Home Email'

  %h3.clear Account Information
  %ul.span-22
    %li= f.text_field :userName 
    %li= f.password_field :password, :placeholder => 'leave blank if you don\'t want to change it'
    %li= f.password_field :password_confirmation, :placeholder => 'confirm new password if you want to change'
    %li= f.password_field :current_password, :placeholder => 'we need your current password to confirm your changes'
  .span-22
    = f.submit "Update", :class => 'white button'

= link_to "Back", :back, :id => 'back'
