%p#notice= notice

%p
  %b Employee:
  = @registration.employee_id
%p
  %b Workshop:
  = @registration.workshop_id
%p
  %b Manager:
  = @registration.manager_id

= link_to 'Edit', edit_registration_path(@registration)
\|
= link_to 'Back', registrations_path
