%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=utf-8"}
    %style{'type' => 'text/css'}
      = @css

  %body
    %table{'style' => 'border-collapse:separate; border-spacing: 0px; display:inline; border:0px; cellpadding:0px; border: 1px solid #CCC; border-radius: 20px; padding: 10px;'}
      %tr{:border => 0, :cellpadding => 0}
        %td{:colspan => 3, :border => 0, :cellpadding => 0}
          = image_tag attachments['scheduleTeam.png'].url, :style => "display:block; border:0"

      %tr
        %td{:width => '43px'}
        %td{:width => '480px'}
          %h2 #{@holiday.firstName} #{@holiday.lastName}'s Holiday Request Off

          %p
            %b Email: 
            = @holiday.email
          %p
            %b First Choice:
            #{@holiday.firstStart.strftime('%a %b %d, %Y')} - #{@holiday.firstEnd.strftime('%a %b %d, %Y')}
          -if !@holiday.secondStart.nil?
            %p
              %b Second Choice:
              #{@holiday.secondStart.strftime('%a %b %d, %Y')} - #{@holiday.secondEnd.strftime('%a %b %d, %Y')}
          -if !@holiday.thirdStart.nil?
            %p
              %b Third Choice:
              #{@holiday.thirdStart.strftime('%a %b %d, %Y')} - #{@holiday.thirdEnd.strftime('%a %b %d, %Y')}
          %p
            %b Mentor Manager:
            = @holiday.manager.name

          %p
            An Email has already been sent to:
            %ul
              %li NMA Schedule - nmaschedule@apple.com
              %li #{@holiday.firstName} #{@holiday.lastName} - #{@holiday.email}
              %li #{@holiday.manager.name} - #{@holiday.manager.email}

        %td{:width => '40px'}
      %tr
        %td{:colspan => 3}
