= semantic_form_for @shift do |f|
  - if @shift.errors.any?
    #errorExplanation.error.clear.span-10.push-7
      %h3= "#{pluralize(@shift.errors.count, 'error')} prohibited this Shift from being saved:"
      %ul
        - @shift.errors.full_messages.each do |msg|
          %li= msg
  .span-10.push-7.clear
    %strong= 'Giver\'s Name'
    %dd.success #{@shift.firstName} #{@shift.lastName}
    %strong= 'Giver\'s Email'
    %dd.info= @shift.email
    %strong= 'Type of Shift (FRS, Moblie, Red Zone, etc.)'
    %dd.info= @shift.shiftType
    %strong= Shift.human_attribute_name :date
    %dd.info= @shift.date.strftime('%a, %B %d, %Y')
    %strong Time
    %dd.info #{@shift.starttime.strftime('%I:%M %p')} - #{@shift.endtime.strftime('%I:%M %p')}
    .field.error
      .span-5
        = f.label :takingFirstName, :label => 'Taker\'s First Name:'
        %br
        = f.text_field :takingFirstName, :class => "title span-5"
      .span-4.clearafter
        = f.label :takingLastName, :label => 'Taker\'s Last Name:'
        %br
        = f.text_field :takingLastName, :class => "title span-4"
      %p.clear    
    .field.info
      = f.label :takingEmail, :label => 'Taker\'s Apple Email'
      %br
      = f.text_field :takingEmail, :class => "title"

  .actions.span-4.push-10.clear
    - if params[:action] == 'new'
      = f.submit "Post a Shift"
    - else
      = f.submit "Take Shift"
