= semantic_form_for @shift do |f|
  - if @shift.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@shift.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @shift.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :name, :label => 'Givers Full Name:'
    %br
    = f.text_field :name, :label => 'Givers Apple Email', :class => "help"
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :date, :lable => 'Shift is on'
    %br
    = f.date_select :date
  .field
    = f.label :starttime, :label => 'Shift Starts at:'
    %br
    = f.time_select :starttime
  .field
    = f.label :endtime, :label => 'Shift Ends at:'
    %br
    = f.time_select :endtime
  .field
    = f.label :takeingname, :label => 'Takers Full Name:'
    %br
    = f.text_field :takeingname
  .field
    = f.label :takingemail, :label => 'Takers Apple Email'
    %br
    = f.text_field :takingemail

  .actions
    = f.submit
