= semantic_form_for @shift do |f|
  - if @shift.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@shift.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @shift.errors.full_messages.each do |msg|
        %li= msg
  .span-10.push-7.clear
    .field.success
      = f.label :name, :label => 'Giver\'s Full Name:'
      %br
      = f.text_field :name, :label => 'Giver\'s Apple Email', :class => "title"
    .field.info
      = f.label :email
      %br
      = f.text_field :email, :class => "title"
    .field.info
      = f.label :date, :lable => 'Shift is on'
      %br
      = f.date_select :date, :class => "title"
    .field.info
      .span-4= f.label :starttime, :label => 'Start Time'
      .span-4= f.label :starttime, :label => 'End Time'
      %br
        .span-4 #{f.time_select :starttime, :class => "title"}
        .span-4.clearafter #{f.time_select :endtime, :class => "title"}
      %p.clear
    .field.error
      = f.label :takeingname, :label => 'Taker\'s Full Name:'
      %br
      = f.text_field :takeingname, :class => "title"
    .field.info
      = f.label :takingemail, :label => 'Taker\'s Apple Email'
      %br
      = f.text_field :takingemail, :class => "title"

  .actions.span-4.push-10.clear
    = f.submit
