%h3.centered Looking at #{@shift.name} on #{@shift.date.strftime('%a, %B %d, %Y')} at #{@shift.starttime.strftime('%I:%M %p')} - #{@shift.endtime.strftime('%I:%M %p')}
%p.span-4.push-10.clear
  = link_to 'back', shifts_path, :class => 'button'
  = link_to 'show', @shift, :class => 'button'
= render 'form'
