%hr.space
%h1 Give One Take One:
/=image_tag('apple/rails.png')

- unless flash[:notice].blank?
  %div.success
    = notice
- unless flash[:alert].blank?
  %div.success
    = alert
%div
  %p
    This tool has been given to you by the People team so that you no longer have to use a pen and paper
    To post a shift that you would like to have covered please click on the 'Give a Shift' button. To view
    a shift up for grabs or take a shift use the approprate buttons to the right of the listed shift.
  %p
    To give or take a shift you must use your Apple Email address and also be on a BOH connection
  %p
    Once you take a shift, the person who posted the shift, NMA Schedule, and youself should be emailed a notification.
    If you do not recieve an email after you have taken a shift try again, because this means you really haven't taken
    the shift.

%p= link_to 'Give a New Shift', new_shift_path, :class => "button"
%table
  %thead
    %tr
      %th Name
      %th Apple Email
      %th Shift Type
      %th Date
      %th Time
      %th Takers Name
      %th Takers Apple Email
      %th{:colspan => 3} Actions

 
  - @shifts.each do |f|
    %tr
      %td #{f.firstName} #{f.lastName}
      %td= f.email
      %td= f.shiftType
      %td= f.date.strftime('%a, %b %d, %Y')
      %td #{f.starttime.strftime('%I:%M %p')} - #{f.endtime.strftime('%I:%M %p')}
      %td #{f.takingFirstName} #{f.takingLastName}
      %td= f.takingEmail
      %td.action= link_to 'view', f, :class => 'button'
      %td.action= link_to 'take', edit_shift_path(f), :class => 'button'
      %td.action= link_to 'remove', shift_path(f), :confirm => "Are you sure", :method => :delete, :class => 'button' 
