%h1 Give One Take One:

- unless flash[:notice].blank?
  %div.success
    = notice
- unless flash[:alert].blank?
  %div.success
    = alert
%p= link_to 'Give a New Shift', new_shift_path
%table
  %thead
    %tr
      %th Name
      %th Apple Email
      %th Date
      %th Time
      %th Takers Name
      %th Takers Apple Email
      %th{:colspan => 3} Actions

 
  - @shifts.each do |f|
    %tr
      %td= f.name
      %td= f.email
      %td= f.date.strftime('%a, %b %d, %Y')
      %td #{f.starttime.strftime('%I:%M %p')} - #{f.endtime.strftime('%I:%M %p')}
      %td= f.takeingname
      %td= f.takingemail
      %td.action= link_to 'show', f, :class => 'button'
      %td.action= link_to 'edit', edit_shift_path(f), :class => 'button'
      %td.action= link_to 'destroy', shift_path(f), :confirm => "Are you sure", :method => :delete, :class => 'button' 
