%hr.space
%h1 Give One Take One:
/=image_tag('apple/rails.png')

- unless flash[:notice].blank?
  %div.success
    = notice
- unless flash[:alert].blank?
  %div.success
    = alert
%div
  %p
    This page is only to see the record of the shifts that have been taken. You should go back to the home page if you need to give or take a shift.
  %h2
    The Shift Switch App has now switched #{Shift.count} shifts!!



%p= link_to 'Give a New Shift', new_shift_path, :class => "button"
%table
  %thead
    %tr
      %th Name
      %th Apple Email
      %th Shift Type
      %th Date
      %th Time
      %th Takers Name
      %th Takers Apple Email
      %th Actions
     

 
  - @shifts.each do |f|
    %tr
      %td #{f.firstName} #{f.lastName}
      %td= f.email
      %td= f.shiftType
      %td= f.date.strftime('%a, %b %d, %Y')
      %td #{f.starttime.strftime('%I:%M %p')} - #{f.endtime.strftime('%I:%M %p')}
      %td #{f.takingFirstName} #{f.takingLastName}
      %td= f.takingEmail
      %td.action= link_to 'remove', shift_path(f), :confirm => "Are you sure", :method => :delete, :class => 'button'
